
<h2>Gestion des startups</h2>

<button nz-button nzType="primary" (click)="handleAddButton()" [nzSize]="size"><i nz-icon type="plus"></i>{{ startup !== null? "Fermer": "Ajouter" }}</button>

<br/>

<app-startupform *ngIf="startup !== null" [startup]="startup" (startupChange)="saveStartup($event)"></app-startupform>

<nz-table #basicTable [nzData]="Startups">
  <thead>
  <tr>
    <th>Nom entreprise</th>
    <th>Représentant</th>
    <th>Nombre de co-fondateurs</th>
    <th>Description</th>
    <th>Adresse ? </th>
    <th>Consultant</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let startup of Startups">
    <td>{{ startup.nom }}</td>
    <td>{{ startup.representantRepresentant }}</td>
    <td>{{ startup.nbreCofondateur | showcofondateur }}</td>
    <td>{{ startup.description }}</td>
    <td>{{ startup.adresse? "Oui": "Non" }}</td>
    <td>{{ startup.consultant.nom }}</td>
    <td>
      <a (click)="handleEditButton(startup)">Modifier {{startup.nom}}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a nz-popconfirm nzOkText="Oui" nzCancelText = "Non" nzTitle="Etes-vous sur de vouloir supprimer cette startup ?" (nzOnConfirm)="supprimer(startup)" (nzOnCancel)="cancel()">Supprimer</a>
    </td>
  </tr>
  </tbody>
</nz-table>
