
<form nz-form  (ngSubmit)="OnSubmit()" [formGroup]="startupForm" >

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Nom</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="nom" placeholder="Nom">
      <nz-form-explain *ngIf="nomCtrl.dirty && nomCtrl.touched && nomCtrl.hasError('required') || nomCtrl.hasError('maxlength') ">
        <ng-container *ngIf="nomCtrl.dirty && nomCtrl.touched && nomCtrl.hasError('required')">
          Nom requis
        </ng-container>
        <ng-container *ngIf="nomCtrl.dirty && nomCtrl.hasError('maxlength')">
          Nom trop long
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Secteur d'activité</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="secteurActivite" placeholder="Secteur">
      <nz-form-explain *ngIf="secteurCtrl.dirty && secteurCtrl.touched && secteurCtrl.hasError('required') || secteurCtrl.hasError('maxlength') ">
        <ng-container *ngIf="secteurCtrl.dirty && secteurCtrl.touched && secteurCtrl.hasError('required')">
          Secteur d'activité est requis
        </ng-container>
        <ng-container *ngIf="secteurCtrl.dirty && secteurCtrl.hasError('maxlength')">
          Secteur d'activité trop long
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Nom du représentant légal</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="representantRepresentant" placeholder="Nom du représentant légal">
      <nz-form-explain *ngIf="representantCtrl.dirty && representantCtrl.touched && representantCtrl.hasError('required') || representantCtrl.hasError('maxlength') ">
        <ng-container *ngIf="representantCtrl.dirty && representantCtrl.touched && representantCtrl.hasError('required')">
          Nom du représentant requis
        </ng-container>
        <ng-container *ngIf="representantCtrl.dirty && representantCtrl.hasError('maxlength')">
          Nom du représentant trop long
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Nombre de co-fondateurs</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-input-number formControlName="nbreCofondateur" [nzMin]="1"  [nzStep]="1"></nz-input-number>
      <nz-form-explain *ngIf="nbCofondateurCtrl.dirty && nbCofondateurCtrl.touched && nbCofondateurCtrl.hasError('required') || nbCofondateurCtrl.hasError('maxlength') ">
        <ng-container *ngIf="nbCofondateurCtrl.dirty && nbCofondateurCtrl.touched && nbCofondateurCtrl.hasError('required')">
          Nombre de co-fondateurs requis
        </ng-container>
        <ng-container *ngIf="nbCofondateurCtrl.dirty && nbCofondateurCtrl.hasError('pattern')">
          Nombre de co-fondateurs doit etre un nombre
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <textarea formControlName="description" nz-input rows="2" placeholder="descriptiong"></textarea>
      <nz-form-explain *ngIf="descriptionCtrl.dirty && descriptionCtrl.touched && descriptionCtrl.hasError('required') || descriptionCtrl.hasError('maxlength') ">
        <ng-container *ngIf="descriptionCtrl.dirty && descriptionCtrl.touched && descriptionCtrl.hasError('required')">
          Description requise
        </ng-container>
        <ng-container *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('maxlength')">
          Description trop longue
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" >Adresse</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="adresse" placeholder="Adresse">
      <nz-form-explain *ngIf="adresseCtrl.dirty && adresseCtrl.touched && adresseCtrl.hasError('required') || adresseCtrl.hasError('maxlength') ">
        <ng-container *ngIf="adresseCtrl.dirty && adresseCtrl.hasError('maxlength')">
          Adresse trop longue
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="login-form-button" [disabled]="startupForm.invalid"[nzType]="'primary'">Enregistrer</button>

</form>
