<h2>Gestion des Consultants</h2>

<nz-table #basicTable [nzData]="Consultants">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let consultant of Consultants">
    <td>{{ consultant.nom }}</td>
    <td>{{ consultant.description }}</td>
  </tr>
  </tbody>
</nz-table>
