

<div nz-row>

  <div nz-col [nzSpan]="18" [nzPush]="3" [nzPull]="3">
    <ul nz-menu [nzMode]="'horizontal'">
      <li nz-menu-item> <a  href="#" routerLink="/">Home </a></li>
      <li nz-menu-item> <a href="#" routerLink="/startups">Startups</a></li>
      <li nz-menu-item> <a href="#" routerLink="/consultants">Consultants</a></li>
    </ul>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
