
<h2>Les startups</h2>
<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="">

    <div nz-col [nzSpan]="8" *ngFor="let startup of Startups | slice:0:3">
      <app-own-card [element]="startup">
        <nz-tabset class="content">
          <nz-tab nzTitle="Secteur"><p>{{ startup.secteurActivite}}</p></nz-tab>
          <nz-tab nzTitle="Representant"><p>{{ startup.representantRepresentant }}</p></nz-tab>
          <nz-tab nzTitle="description"><p>{{ startup.description}}</p></nz-tab>
        </nz-tabset>
      </app-own-card>

    </div>
  </div>
  <a href="#" routerLink="/startups"> Voir tout</a>
</div>

<h2>Les Consultants</h2>
<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="">
    <div nz-col [nzSpan]="8" *ngFor="let consultant of Consultants | slice:0:3">
      <app-own-card [element]="consultant">
        <nz-tabset class="content">
          <nz-tab nzTitle="prenom"><p>{{ consultant.nom}}</p></nz-tab>
          <nz-tab nzTitle="nom"><p>{{ consultant.prenom }}</p></nz-tab>
          <nz-tab nzTitle="description"><p>{{ consultant.description}}</p></nz-tab>
        </nz-tabset>
      </app-own-card>
    </div>
  </div>
  <a href="#" routerLink="/consultants"> Voir tout</a>

</div>
